extends layout.pug 
block content 
    .container
      h1= entity.title
      p= entity.content
      div#entity-data(data-entity=JSON.stringify(entity))

      p Applaudissements :#{entity.applauseCount}

      p=del.acknowledged


    script(src="/js/applause.js")
